.jumbotron {
	background: #0F0E0E;
}
.jumbotron h1 {
	color: white;
	font-family: 'Bangers', cursive;
}
.jumbotron p {
	color: #79E2F2;
	font-family: 'Pacifico', cursive;
}
.content h4 {
	text-align: center;
	font-weight: bold;
	font-family: 'Passion One', cursive;
	font-size: 30px;
}
.row {
	background: #889292;
}
.row ul {
	color: black;
}
.navbar-header strong a {
	color: blue;
}
.footer p {
	background-color: #95A5A6;
	margin: 30px 0;
	text-align:center;
	padding:20px;
	color:black;
	width:100%;
}